@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --clr-purple: hsl(259, 100%, 65%);
  --clr-light-red: hsl(0, 100%, 67%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-off-white: hsl(0, 0%, 94%);
  --clr-light-grey: hsl(0, 0%, 86%);
  --clr-smokey-grey: hsl(0, 1%, 44%);
  --clr-off-black: hsl(0, 0%, 8%);
}

html {
  min-width: 375px;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: var(--clr-off-white);
}

.calculator {
  width: min(85%, 850px);
  padding: 1.8rem 1.3rem 2.5rem;
  margin-inline: auto;
  margin-top: 5rem;
  border-radius: 20px;
  border-bottom-right-radius: 100px;
  background: var(--clr-white);
}

@media (min-width: 650px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .calculator {
    padding: 2.5rem;
    margin-top: 0;
  }
}

.inputs {
  display: flex;
  gap: 1rem;
}

.input-group {
  width: 90px;
}

.input-group.error {
  --error: var(--clr-light-red);

  position: relative;
}

.input-group input {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-weight: 800;
  width: 100%;
  height: 2.344em;
  padding-inline: 0.666666em;
  border-radius: 5px;
  border: 1px solid var(--error, var(--clr-light-grey));
  color: var(--clr-off-black);
  cursor: pointer;
}

.input-group input:focus {
  outline: 1px solid var(--clr-purple);
  border-color: transparent;
  caret-color: var(--clr-purple);
}

.input-group label {
  font-size: 0.76em;
  text-transform: uppercase;
  letter-spacing: 0.25ch;
  color: var(--error, var(--clr-smokey-grey));
  cursor: pointer;
}

.input-group .error-message {
  position: absolute;
  display: none;
  font-size: 0.7em;
  font-style: italic;
  margin-top: 0.4em;
  color: var(--error);
}

.input-group.error .error-message {
  display: inline-block;
}

@media (min-width: 650px) {
  .inputs {
    gap: 2.2rem;
  }

  .input-group {
    font-size: 20px;
    width: 160px;
  }
}

.divider {
  position: relative;
  width: 100%;
  margin-block: 3.5rem;
}

.divider hr {
  width: 100%;
  height: 2px;
  border: none;
  background-color: var(--clr-off-white);
}

.divider button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 58px;
  aspect-ratio: 1;
  border: none;
  border-radius: 100%;
  background-color: var(--clr-purple);
  transform: translate(-50%, -50%);
  transition: background-color 0.15s ease-in;
  cursor: pointer;
}

.divider button:hover {
  background-color: var(--clr-off-black);
}

.divider img {
  width: 50%;
}

@media (min-width: 650px) {
  .divider button {
    left: auto;
    right: 0;
    transform: translate(0, -50%);
  }
}

.result {
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
  line-height: 1.8ch;
  color: var(--clr-off-black);
}

.result span {
  color: var(--clr-purple);
}

@media (min-width: 650px) {
  .result {
    font-size: 4.5rem;
  }
}
